<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flower.title %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @flower.colour %>
</p>

<%= link_to 'Edit', edit_flower_path(@flower) %> |
<%= link_to 'Back', flowers_path %>
